# Useful Pandas Commands

"pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language."

http://pandas.pydata.org/

This notebook will contain some useful/common pandas commands

In [1]:
import pandas as pd
my_array = pd.read_csv('Data/DecisionTreeData/restaurant_data.csv')

In [3]:
my_array

,alternate,bar,friday_saturday,hungry,patrons,price,rain,reservation,type,wait_est,will_wait
0,yes,no,no,yes,some,$$$,no,yes,French,0-10,yes
1,yes,no,no,yes,full,$,no,no,Thai,30-60,no
2,no,yes,no,no,some,$,no,no,Burger,0-10,yes
3,yes,no,yes,yes,full,$,yes,no,Thai,10-30,yes
4,yes,no,yes,no,full,$$$,no,yes,French,>60,no
5,no,yes,no,yes,some,$$,yes,yes,Italian,0-10,yes
6,no,yes,no,no,none,$,yes,no,Burger,0-10,no
7,no,no,no,yes,some,$$,yes,yes,Thai,0-10,yes
8,no,yes,yes,no,full,$,yes,no,Burger,>60,no
9,yes,yes,yes,yes,full,$$$,no,yes,Italian,10-30,no
10,no,no,no,no,none,$,no,no,Thai,0-10,no
11,yes,yes,yes,yes,full,$,no,no,Burger,30-60,yes

In [4]:
my_array['will_wait']

0     yes
1      no
2     yes
3     yes
4      no
5     yes
6      no
7     yes
8      no
9      no
10     no
11    yes
Name: will_wait, dtype: object

In [6]:
my_array[my_array['will_wait'] == 'yes']

,alternate,bar,friday_saturday,hungry,patrons,price,rain,reservation,type,wait_est,will_wait
0,yes,no,no,yes,some,$$$,no,yes,French,0-10,yes
2,no,yes,no,no,some,$,no,no,Burger,0-10,yes
3,yes,no,yes,yes,full,$,yes,no,Thai,10-30,yes
5,no,yes,no,yes,some,$$,yes,yes,Italian,0-10,yes
7,no,no,no,yes,some,$$,yes,yes,Thai,0-10,yes
11,yes,yes,yes,yes,full,$,no,no,Burger,30-60,yes

In [7]:
my_array['will_wait'].value_counts()

no     6
yes    6
Name: will_wait, dtype: int64

In [8]:
my_array['will_wait'].value_counts()['yes']

6